{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Webmania - Agency, Startup and SaaS template</title>
	<meta name="description" content="Webmania is a Agency, Startup and SaaS template by tempload." />
	<meta name="keywords" content="webmania, startup, saas, agency, development, html, template, tempload" />
	<meta name="author" content="tempload"/>

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="{% static 'assets/images/favicon/favicon.png' %}" />

	<!-- Bootstrap & Plugins CSS -->
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

	<!-- Custom CSS -->
	<link href="{% static 'assets/css/orange.css' %}" rel="stylesheet" type="text/css">
</head>
<body>

	<!-- ***** Preloader Start ***** -->
	<div class="preloader-wrapper">
		<div class="loader">
			<div class="loader-inner"></div>
		</div>
	</div>
	<!-- ***** Preloader End ***** -->

	
	<!-- ***** Header Area Start ***** -->
	<header class="header-area header-white">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- ***** Logo Start ***** -->
						<a href="{% url 'home' %}" class="logo">
							<img src="{{info.logo.url}}" alt="Webmania"/>
						</a>
						<!-- ***** Logo End ***** -->


						<!-- ***** Menu Start ***** -->
						<ul class="nav">
							<li><a href="{% url 'home'%}">Home</a></li>
							
							<li class="submenu">
								<a href="javascript:;">Pages</a>
								<ul>
								
									
									<li><a href="{% url 'faq' %}">FAQ's</a></li>
									<li><a href="{% url 'blog'%}">Blog</a></li>
								</ul>
							</li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
							<li><a href="#" class="btn-nav-line"><span>Free Try</span></a></li>
						</ul>
						<a class='menu-trigger'>
							<span>Menu</span>
						</a>
						<!-- ***** Menu End ***** -->						
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- ***** Header Area End ***** -->


	<section class="page">
		<!-- ***** Page Top Start ***** -->
		<div class="cover" data-image="{{backround.img.url}}">
			<div class="page-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<h1>About Us</h1>
						</div>
						<div class="col-lg-12">
							<ol class="breadcrumb">
								<li><a href="{% url 'home' %}">Home</a></li>
								<li class="active">About Us</li>
							</ol>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ***** Page Top End ***** -->

		<!-- ***** Page Content Start ***** -->
		<div class="page-bottom">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="about">
							<div class="about-image">
								<img src="{{about_us.img.url}}" alt="">
							</div>
							<div class="about-text">
								<h2>{{about_us.title}}</h2>
								<p>{{about_us.text}}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<!-- ***** Section Title Start ***** -->
				<div class="row">
					<div class="col-lg-12">
						<div class="center-heading">
							<h2 class="section-title">{{about_us.title2}}</h2>
						</div>
					</div>
					<div class="offset-lg-3 col-lg-6">
						<div class="center-text">
							<p>{{about_us.text2}}</p>
						</div>
					</div>
				</div>
				<!-- ***** Section Title End ***** -->

				<div class="row testimonials-wrapper">
					<!-- ***** Our Team Item Start ***** -->
					<div class="row">
						{% for i in worker%}
				<div class="col-lg-4 col-md-6 col-sm-12">
					<div class="testimonials-item">
						<div class="user">
							<img src="{{i.img.url}}" alt="">
						</div>
						<div class="testimonials-content">
							<h3 class="user-name">{{i.name}}</h3>
							<span>{{i.mini_name}}</span>
							<div class="txt">
								<p>{{i.text}} </p>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
					<!-- ***** Our Team Item End ***** -->
				</div>
			</div>
		</div>
		<!-- ***** Page Content End ***** -->
	</section>


	
	<!-- ***** Footer Start ***** -->
	<footer>
		<div class="container">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12 col-sm-12">
						<img src="{{info.logo.url}}" class="logo" alt="">
						<div class="text">{{info.desc}}</div>
					</div>
					<div class="col-lg-2"></div>
					<div class="col-lg-4 col-md-4 col-sm-12">
						<h5>Contact Us</h5>
						<div class="address">
							<p>{{info.adres}}</p>
							<p>Phone: {{info.phone}}</p>
							<p><span>E-Mail:</span><a href="#">{{info.email}}</a></p>
						<ul class="social">
							<li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
							<li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
							<li><a href="#"><i class="fa fa-github-square"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p class="copyright">© 2021 Webmania. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- ***** Footer End ***** -->



	<!-- jQuery -->
	<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

	<!-- Bootstrap -->
	<script src="{% static 'assets/js/popper.js' %}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

	<!-- Plugins -->
	<script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
	<script src="{% static 'assets/js/parallax.min.js' %}"></script>
	<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
	<script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
	<script src="{% static 'assets/js/imgfix.min.js' %}"></script>	

	<!-- Global Init -->
	<script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>